* {
  box-sizing: border-box;
}


body {
    overflow: hidden;
}

/* Start here */

img {
max-width: 100%;
}

.flower1, .flower10, .flower11, .flower12 {
width: 370px;
top: -120px;
left: -120px;
position:fixed;
animation: rotation 60s infinite linear;
}

.flower2, .flower20, .flower21, .flower22 {
width: 370px;
top: -120px;
right: -120px;
position: fixed;
animation: rotation 60s infinite linear;
}

.flower3, .flower30, .flower31, .flower32 {
width: 370px;
bottom: -120px;
left: -120px;
position: fixed;
    
animation: rotation 60s infinite linear;
}

.flower4, .flower40, .flower41, .flower42 {
width: 370px;
bottom: -120px;
right: -120px;
position: fixed;
    
animation: rotation 60s infinite linear;
}

.flower5, .flower50, .flower51, .flower52 {
display: none;
width: 230px;
top: -115px;
left: 42%;
position: fixed;
}

.flower6, .flower60, .flower61, .flower62 {
display: none;
width: 230px;
top: 290px;
right: -115px;
position: fixed;
}

.flower7, .flower70, .flower71, .flower72 {
display: none;
width: 230px;
bottom: -115px;
right: 42%;
position: fixed;
}

.flower8, .flower80, .flower81, .flower82 {
display: none;
width: 230px;
top: 290px;
left: -115px;
position: fixed;
}

.flowersMiddle {

}

.flowerMiddle, .flowerMiddle0, .flowerMiddle1, .flowerMiddle2 {
width: 520px;
top: 18%;
left: 32%;
position: absolute;
animation: rotation 60s infinite linear;
opacity: 1;
transition: opacity 1s;
}

.random1 {
width: 90px;
top: 350px;
left: 120px;
position: fixed;
animation: fade 5s infinite linear;
}

.random2 {
width: 70px;
top: 730px;
left: 550px;
position: fixed;
animation: fade2 7s infinite linear;
}

.random3 {
width: 70px;
top: 70px;
left: 1100px;
position: fixed;
animation: fade2 3s infinite linear;
}

.random4 {
width: 90px;
top: 550px;
left: 950px;
position: fixed;
animation: fade 5s infinite linear;
}

.random5 {
width: 50px;
top: 150px;
left: 400px;
position: fixed;
animation: fade 6s infinite linear;
}

.random6 {
width: 50px;
top: 670px;
left: 1200px;
position: fixed;
animation: fade2 5s infinite linear;
}

.random7 {
width: 50px;
top: 650px;
left: 300px;
position: fixed;
animation: fade 7s infinite linear;
}

.random8 {
width: 50px;
top: 300px;
left: 1120px;
position: fixed;
animation: fade2 5s infinite linear;
}

.random9 {
width: 70px;
top: 50px;
left: 200px;
position: fixed;
animation: fade 7s infinite linear;
}

.random10 {
width: 50px;
top: 15px;
left: 900px;
position: fixed;
animation: fade2 5s infinite linear;
}

.random11 {
width: 30px;
top: 500px;
left: 350px;
position: fixed;
animation: fade 10s infinite linear;
}

.random12 {
width: 30px;
top: 450px;
left: 1300px;
position: fixed;
animation: fade2 3s infinite linear;
}

.flowersMiddle.hide {
opacity: 0;
transition: opacity 1s;
}

.smallflowersMiddle {

}

.smallflowerMiddle, .smallflowerMiddle0, .smallflowerMiddle1, .smallflowerMiddle2 {
width: 250px;
top: 34.5%;
left: 41.2%;
z-index: -10;
position: absolute;
animation: rotationslow 60s infinite linear;
opacity: 1;
transition: opacity 1s;
}

.smallflowersMiddle.hide {
opacity: 0;
transition: opacity 1s;
}

@keyframes fade {
0% {
opacity: 0;
}
50% {
opacity: 1;
}
100% {
opacity: 0;
}
}

@keyframes fade2 {
0% {
opacity: 1;
}
50% {
opacity: 0;
}
100% {
opacity: 1;
}
}

.flowerAnimation {
}
@-webkit-keyframes rotation {
from {
transform: rotate(0deg);
}
to {
transform: rotate(-359deg);
}
}

.flowerAnimationslow {
}
@-webkit-keyframes rotationslow {
from {
transform: rotate(0deg);
}
to {
transform: rotate(359deg);
}
}

.time {
font-size: 45px;
text-align: center;
font-family: 'Josefin Slab', serif;
color: #cccccc;
position: absolute;
top: 7%;
left: 43%;
}

.time.hide {
opacity: 0;
transition: opacity 0.2s;
}

.button {
position: absolute;
left: 47%;
top: 90%;
width: 50px;
height: 50px;
opacity: 0.5;
transition: opacity 0.5s ease;
font-family: 'Josefin Slab', serif;
font-size: 1.5vw;
color: #cccccc;
}

.button:hover {
cursor: pointer;
opacity: 1.0;
transform: scale(1.12);
transition: 0.5s ease;
}

input {
position:absolute;
display: none;
}

.text {
position: absolute;
display: flex;
flex-direction: column;
transition: opacity 1s ease;
max-width: 43vw;
max-height: 700px;
justify-content: center;
text-align: center;
align-content: center;
left: 28.5%;
top: 200px;
font-family: 'Josefin Slab', serif;
font-size: 18px;
line-height: 25px;
opacity: 0;
}

.white {
color: white;
}
                
.text.show {
opacity: 1;
transition: opacity 1s ease;
}

.text-0, .text-1, .text-2, .text-3, .text-4, .text-5, .text-16, .text-18, .text-19, .text-20, .text-21, .text-22, .text-23 {
color: white;
text-align: center;
}

.dash {
border-top: solid black 1.5px;
max-width: 40px;
}

.center {
justify-content: center;
text-align: center;
align-content: center;
}
