/* Note target the body first with the modifer.
For example, every evenSecond change the div color to blue.
Every oddSecond change the div color to red


/* Time CSS here */



body.m0.h12.am .flower50, body.m0.h12.am .flower60, body.m0.h12.am .flower70, body.m0.h12.am .flower80, body.m0.h1.am .flower50, body.m0.h1.am .flower60, body.m0.h1.am .flower70, body.m0.h1.am .flower80, body.m0.h2.am .flower50, body.m0.h2.am .flower60, body.m0.h2.am .flower70, body.m0.h2.am .flower80, body.m0.h3.am .flower50, body.m0.h3.am .flower60, body.m0.h3.am .flower70, body.m0.h3.am .flower80, body.m0.h4.am .flower50, body.m0.h4.am .flower60, body.m0.h4.am .flower70, body.m0.h4.am .flower80, body.m0.h5.am .flower50, body.m0.h5.am .flower60, body.m0.h5.am .flower70, body.m0.h5.am .flower80, body.m0.h6.am .flower5, body.m0.h6.am .flower6, body.m0.h6.am .flower7, body.m0.h6.am .flower8, body.m0.h7.am .flower5, body.m0.h7.am .flower6, body.m0.h7.am .flower7, body.m0.h7.am .flower8, body.m0.h8.am .flower5, body.m0.h8.am .flower6, body.m0.h8.am .flower7, body.m0.h8.am .flower8, body.m0.h9.am .flower5, body.m0.h9.am .flower6, body.m0.h9.am .flower7, body.m0.h9.am .flower8, body.m0.h10.am .flower5, body.m0.h10.am .flower6, body.m0.h10.am .flower7, body.m0.h10.am .flower8, body.m0.h11.am .flower5, body.m0.h11.am .flower6, body.m0.h11.am .flower7, body.m0.h11.am .flower8, body.m0.h12.pm .flower51, body.m0.h12.pm .flower61, body.m0.h12.pm .flower71, body.m0.h12.pm .flower81, body.m0.h1.pm .flower51, body.m0.h1.pm .flower61, body.m0.h1.pm .flower71, body.m0.h1.pm .flower81, body.m0.h2.pm .flower51, body.m0.h2.pm .flower61, body.m0.h2.pm .flower71, body.m0.h2.pm .flower81, body.m0.h3.pm .flower51, body.m0.h3.pm .flower61, body.m0.h3.pm .flower71, body.m0.h3.pm .flower81, body.m0.h4.pm .flower51, body.m0.h4.pm .flower61, body.m0.h4.pm .flower71, body.m0.h4.pm .flower81, body.m0.h5.pm .flower51, body.m0.h5.pm .flower61, body.m0.h5.pm .flower71, body.m0.h5.pm .flower81, body.m0.h6.pm .flower52, body.m0.h6.pm .flower62, body.m0.h6.pm .flower72, body.m0.h6.pm .flower82, body.m0.h7.pm .flower52, body.m0.h7.pm .flower62, body.m0.h7.pm .flower72, body.m0.h7.pm .flower82, body.m0.h8.pm .flower52, body.m0.h8.pm .flower62, body.m0.h8.pm .flower72, body.m0.h8.pm .flower82, body.m0.h9.pm .flower52, body.m0.h9.pm .flower62, body.m0.h9.pm .flower72, body.m0.h9.pm .flower82, body.m0.h10.pm .flower52, body.m0.h10.pm .flower62, body.m0.h10.pm .flower72, body.m0.h10.pm .flower82, body.m0.h11.pm .flower52, body.m0.h11.pm .flower62, body.m0.h11.pm .flower72, body.m0.h11.pm .flower82 {
display: block;
animation: fadefade 2s infinite linear;
}


@keyframes fadefade {
    0%{opacity: 0; transform: scale(1)}
    25%{opacity: 0.5; transform: scale(1.1)}
    50%{opacity: 1; transform: scale(1.2)}
    75%{opacity: 0.5; transform: scale(1.1)}
    100%{opacity: 0; transform: scale(1)}
}

@keyframes fadefadef {
    0%{opacity: 1}
    50%{opacity: 0.5}
    100%{opacity: 0}
}

@keyframes grow {
    0%{transform: scale(1)}
    50%{transform: scale(1.15)}
    100%{transform: scale(1)}
}

@keyframes grow2 {
    0%{transform: scale(1.15)}
    50%{transform: scale(1)}
    100%{transform: scale(1.15)}
}


.flowers div {
display: none;
}

.flowersMiddle div {
display: none;
}

.smallflowersMiddle div {
display: none;
}

body.h12.am .flower10, body.h12.am .flower20, body.h12.am .flower30, body.h12.am .flower40, body.h12.am .flowerMiddle0, body.h12.am .smallflowerMiddle0 {
display: block;
}

body.h1.am .flower10, body.h1.am .flower20, body.h1.am .flower30, body.h1.am .flower40, body.h1.am .flowerMiddle0, body.h1.am .smallflowerMiddle0 {
display: block;
}

body.h2.am .flower10, body.h2.am .flower20, body.h2.am .flower30, body.h2.am .flower40, body.h2.am .flowerMiddle0, body.h2.am .smallflowerMiddle0 {
display: block;
}

body.h3.am .flower10, body.h3.am .flower20, body.h3.am .flower30, body.h3.am .flower40, body.h3.am .flowerMiddle0, body.h3.am .smallflowerMiddle0 {
display: block;
}

body.h4.am .flower10, body.h4.am .flower20, body.h4.am .flower30, body.h4.am .flower40, body.h3.am .flowerMiddle0, body.h3.am .smallflowerMiddle0 {
display: block;
}

body.h5.am .flower10, body.h5.am .flower20, body.h5.am .flower30, body.h5.am .flower40, body.h5.am .flowerMiddle0, body.h5.am .smallflowerMiddle0 {
display: block;
}

body.h6.am .flower1, body.h6.am .flower2, body.h6.am .flower3, body.h6.am .flower4, body.h6.am .flowerMiddle, body.h6.am .smallflowerMiddle {
display: block;
}

body.h7.am .flower1, body.h7.am .flower2, body.h7.am .flower3, body.h7.am .flower4, body.h7.am .flowerMiddle, body.h7.am .smallflowerMiddle {
display: block;
}

body.h8.am .flower1, body.h8.am .flower2, body.h8.am .flower3, body.h8.am .flower4, body.h8.am .flowerMiddle, body.h8.am .smallflowerMiddle {
display: block;
}

body.h9.am .flower1, body.h9.am .flower2, body.h9.am .flower3, body.h9.am .flower4 , body.h9.am .flowerMiddle, body.h9.am .smallflowerMiddle {
display: block;
}

body.h10.am .flower1, body.h10.am .flower2, body.h10.am .flower3, body.h10.am .flower4, body.h10.am .flowerMiddle, body.h10.am .smallflowerMiddle {
display: block;
}

body.h11.am .flower1, body.h11.am .flower2, body.h11.am .flower3, body.h11.am .flower4, body.h11.am .flowerMiddle, body.h11.am .smallflowerMiddle {
display: block;
}

body.h12.pm .flower11, body.h12.pm .flower21, body.h12.pm .flower31, body.h12.pm .flower41, body.h12.pm .flowerMiddle1, body.h12.pm .smallflowerMiddle1 {
display: block;
}

body.h1.pm .flower11, body.h1.pm .flower21, body.h1.pm .flower31, body.h1.pm .flower41, body.h1.pm .flowerMiddle1, body.h1.pm .smallflowerMiddle1 {
display: block;
}

body.h2.pm .flower11, body.h2.pm .flower21, body.h2.pm .flower31, body.h2.pm .flower41, body.h2.pm .flowerMiddle1, body.h2.pm .smallflowerMiddle1 {
display: block;
}

body.h3.pm .flower11, body.h3.pm .flower21, body.h3.pm .flower31, body.h3.pm .flower41, body.h3.pm .flowerMiddle1, body.h3.pm .smallflowerMiddle1 {
display: block;
}

body.h4.pm .flower11, body.h4.pm .flower21, body.h4.pm .flower31, body.h4.pm .flower41, body.h4.pm .flowerMiddle1, body.h4.pm .smallflowerMiddle1 {
display: block;
}

body.h5.pm .flower11, body.h5.pm .flower21, body.h5.pm .flower31, body.h5.pm .flower41, body.h5.pm .flowerMiddle1, body.h5.pm .smallflowerMiddle1 {
display: block;
}

body.h6.pm .flower12, body.h6.pm .flower22, body.h6.pm .flower32, body.h6.pm .flower42, body.h6.pm .flowerMiddle2, body.h6.pm .smallflowerMiddle2 {
display: block;
}

body.h7.pm .flower12, body.h7.pm .flower22, body.h7.pm .flower32, body.h7.pm .flower42, body.h7.pm .flowerMiddle2, body.h7.pm .smallflowerMiddle2 {
display: block;
}

body.h8.pm .flower12, body.h8.pm .flower22, body.h8.pm .flower32, body.h8.pm .flower42, body.h8.pm .flowerMiddle2, body.h8.pm .smallflowerMiddle2 {
display: block;
}

body.h9.pm .flower12, body.h9.pm .flower22, body.h9.pm .flower32, body.h9.pm .flower42, body.h9.pm .flowerMiddle2, body.h9.pm .smallflowerMiddle2 {
display: block;
}

body.h10.pm .flower12, body.h10.pm .flower22, body.h10.pm .flower32, body.h10.pm .flower42, body.h10.pm .flowerMiddle2, body.h10.pm .smallflowerMiddle2 {
display: block;
}

body.h11.pm .flower12, body.h11.pm .flower22, body.h11.pm .flower32, body.h11.pm .flower42, body.h11.pm .flowerMiddle2, body.h11.pm .smallflowerMiddle2 {
display: block;
}





body.h12.am {
background-color: black;
transition: 7s ease;
}

body.h1.am {
background-color: black;
}

body.h2.am {
background-color: #002438;
transition: 7s ease;
}

body.h3.am {
background-color: #002438;
}

body.h4.am {
background-color: #003f56;
transition: 7s ease;
}

body.h5.am {
background-color: #003f56;
}

body.h6.am {
background-color: #0997c5;
transition: 7s ease;
}

body.h7.am {
background-color: #0997c5;
}

body.h8.am {
background-color: #c1e0ee;
transition: 7s ease;
}

body.h9.am {
background-color: #c1e0ee;
}

body.h10.am {
background-color: white;
transition: 7s ease;
}

body.h11.am {
background-color: white;
}

body.h12.pm {
background-color: #fff3cb;
transition: 7s ease;
}

body.h1.pm {
background-color: #fff3cb;
}

body.h2.pm {
background-color: #fbb55c;
transition: 7s ease;
}

body.h3.pm {
background-color: #fbb55c;
}

body.h4.pm {
background-color: #b94259;
transition: 7s ease;
}

body.h5.pm {
background-color: #b94259;
}

body.h6.pm {
background-color: #6c305d;
transition: 7s ease;
}

body.h7.pm {
background-color: #6c305d;
}

body.h8.pm {
background-color: #061e41;
transition: 7s ease;
}

body.h9.pm {
background-color: #061e41;
}

body.h10.pm {
background-color: black;
transition: 7s ease;
}

body.h11.pm {
background-color: black;
}

.text div {
display: none;
}

body.h12.am .text-0 {
display: block;
}

body.h1.am .text-1 {
display: block;
}

body.h2.am .text-2 {
display: block;
}

body.h3.am .text-3 {
display: block;
}

body.h4.am .text-4 {
display: block;
}

body.h5.am .text-5 {
display: block;
}

body.h6.am .text-6 {
display: block;
}

body.h7.am .text-7 {
display: block;
}

body.h8.am .text-8 {
display: block;
}

body.h9.am .text-9 {
display: block;
}

body.h10.am .text-10 {
display: block;
}

body.h11.am .text-11 {
display: block;
}

body.h12.pm .text-12 {
display: block;
}

body.h1.pm .text-13 {
display: block;
}

body.h2.pm .text-14 {
display: block;
}

body.h3.pm .text-15 {
display: block;
}

body.h4.pm .text-16 {
display: block;
}

body.h5.pm .text-17 {
display: block;
}

body.h6.pm .text-18 {
display: block;
}

body.h7.pm .text-19 {
display: block;
}

body.h8.pm .text-20 {
display: block;
}

body.h9.pm .text-21 {
display: block;
}

body.h10.pm .text-22 {
display: block;
}

body.h11.pm .text-23 {
display: block;
}
